body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    background-color: black;
    margin: 20px;
}

button{
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: blue;
}
.popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}
.popup-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 20px;
    border-radius:5px ;
    width: 300px;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
#productList{
    display: flex;
    flex-wrap:wrap ;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}